body {
    background-image: url(https://droa.ge/wp-content/uploads/2018/04/თბილისის-სატელევიზო-ანძა.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    margin-left: 100px;
}
.text_box_1 {
    margin-left: 100px;
    margin-right: 100px;
    font-size: large;
}

.middle{
    display: inline;
}

#picture{
    margin-left: 130px;
    float: left;
    margin-right: 25px;
}


#text_box_2{
    margin-right: 100px;
    font-size: large;

} 
#line{
    margin-right: 100px;
}


#linkebi{
    padding-top: 30px;
}
nav{
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align:left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 20px;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;

}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #ee196a;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}